<?xml version="1.0"?>
<!-- This file is a resource file for the pedestal which the agilus robots are mounted on -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find kuka_resources)/urdf/common_materials.xacro" />
  
  <!-- Create the pedestal -->
  <xacro:macro name="kuka_quantec_base_bracket" params="prefix parent_link *origin">
    
    <!-- Foot link which is the bottom square plate of the pedestal -->
    <link name="${prefix}bracket">
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.9 0.9 0.03"/>
	</geometry>
	<xacro:material_kuka_black/>
      </visual>
      <collision>
	<origin xyz="0 0 0.01" rpy="0 0 0"/>
	<geometry>
	  <box size="0.9 0.9 0.03"/>
	</geometry>
      </collision>
    </link>
    
    <!-- Mount link for mounting the robot to the pedestal -->
    <link name="${prefix}bracket_mount_frame"/>
    
    <!-- Joints which connects the pedestal together -->
    <joint name="${prefix}bracket_base_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${prefix}bracket"/>
    </joint>
    
    <joint name="${prefix}bracket_mount_joint" type="fixed">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <parent link="${prefix}bracket"/>
      <child link="${prefix}bracket_mount_frame"/>
    </joint>
    
  </xacro:macro>
  
</robot>
