<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find kuka_resources)/urdf/common_colours.xacro"/>
    
    <material name="kuka_orange">
      <color rgba="${color_kuka_orange}"/>
    </material>
    <material name="kuka_black">
      <color rgba="${color_kuka_black}"/>
    </material>      

    <xacro:macro name="material_kuka_orange">
        <material name="">
            <color rgba="${color_kuka_orange}"/>
        </material>
    </xacro:macro>

    <xacro:macro name="material_kuka_black">
        <material name="">
            <color rgba="${color_kuka_black}"/>
        </material>
    </xacro:macro>
    
    <xacro:macro name="material_kuka" params="color">
      <xacro:if color="black">
        <xacro:material_kuka_black/>
      </xacro:if>
      <xacro:if color="orange">
        <xacro:material_kuka_orange/>
      </xacro:if>
    </xacro:macro>

</robot>
