<?xml version="1.0"?>
<launch>
  <include file="$(find kuka_kr16_support)/launch/load_kr16.launch" />

  <node name="kr16_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <remap from="robot_description" to="kuka_kr16_description"/>
      <param name="use_gui" value="true" />
  </node>

  <node name="kr16_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="robot_description" to="kuka_kr16_description"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_kr16_support)/config/robot_state_visualize.rviz" required="true" />

</launch>
