<?xml version="1.0"?>
<!-- This file contains the launch sequence for loading the URDF of the Agilus cell -->
<launch>

  <!-- load robot description to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_agilus_support)/urdf/agilus.xacro'"/>

</launch>