<?xml version="1.0"?>

<robot name="kuka_kr16" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find kuka_kr16_support)/urdf/kr16_macro.xacro" />
  <xacro:include filename="$(find kuka_resources)/urdf/kuka_pedestal_macro.xacro" />

  <xacro:property name="kr16_prefix" value=""/>

  <xacro:kuka_kr16 prefix="${kr16_prefix}"/>

</robot>



