<?xml version="1.0"?>
<!-- This file is a resource file for the pedestal which the agilus robots are mounted on -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find kuka_resources)/urdf/common_materials.xacro" />
  
  <!-- Create the pedestal -->
  <xacro:macro name="kuka_agilus_pedestal" params="prefix parent_link *origin">
    
    <!-- Head link which is the top square plate of the pedestal -->
    <link name="${prefix}pedestal_head">
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.25 0.25 0.02"/>
	</geometry>
	<xacro:material_kuka_black/>
      </visual>
      <collision>
	<origin xyz="0 0 0.01" rpy="0 0 0"/>
	<geometry>
	  <box size="0.25 0.25 0.02"/>
	</geometry>
      </collision>
    </link>
    
    <!-- Body link which is the long cylinder part of the pedestal -->
    <link name="${prefix}pedestal_body">
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <cylinder radius="0.0975" length="0.81"/>
	</geometry>
	<xacro:material_kuka_black/>
      </visual>
      <collision>
	<origin xyz="0 0 0.405" rpy="0 0 0"/>
	<geometry>
	  <cylinder radius="0.195" length="0.81"/>
	</geometry>
      </collision>
    </link>
    
    <!-- Foot link which is the bottom square plate of the pedestal -->
    <link name="${prefix}pedestal_foot">
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.5 0.5 0.02"/>
	</geometry>
	<xacro:material_kuka_black/>
      </visual>
      <collision>
	<origin xyz="0 0 0.01" rpy="0 0 0"/>
	<geometry>
	  <box size="0.5 0.5 0.02"/>
	</geometry>
      </collision>
    </link>
    
    <!-- Mount link for mounting the robot to the pedestal -->
    <link name="${prefix}pedestal_mount_frame"/>
    
    <!-- Joints which connects the pedestal together -->
    <joint name="${prefix}pedestal_neck_joint" type="fixed">
      <origin xyz="0 0 0.415" rpy="0 0 0"/>
      <parent link="${prefix}pedestal_body"/>
      <child link="${prefix}pedestal_head"/>
    </joint>
    
    <joint name="${prefix}pedestal_base_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${prefix}pedestal_foot"/>
    </joint>
    
    <joint name="${prefix}pedestal_ancle_joint" type="fixed">
      <origin xyz="0 0 0.415" rpy="0 0 0"/>
      <parent link="${prefix}pedestal_foot"/>
      <child link="${prefix}pedestal_body"/>
    </joint>
    
    <joint name="${prefix}pedestal_mount_joint" type="fixed">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <parent link="${prefix}pedestal_head"/>
      <child link="${prefix}pedestal_mount_frame"/>
    </joint>
    
  </xacro:macro>
  
</robot>
