<?xml version="1.0"?>
<robot name="kuka_kr5arc" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find kuka_kr5_support)/urdf/kr5arc_macro.xacro" />
    <xacro:include filename="$(find kuka_resources)/urdf/kuka_pedestal_macro.xacro" />

    <xacro:property name="kr5_prefix" value=""/>

    <xacro:kuka_kr5arc prefix="${kr5_prefix}"/>
</robot>
